<div th:if="${error!=null}" th:text="${error}"></div>
<div th:each="winery : ${wineries}" class="winery-card">
    <h2 th:text="${winery.getName()}"></h2>
    <p th:text="'City: ' + ${winery.getLocation()}"></p>
    <p th:text="'Phone: ' + ${winery.getMobNumber()}"></p>
    <a th:href="@{'/winery/details/' + ${winery.getId()}}" class="btn btn-primary">Детали</a>
    <form th:action="@{'/wish-list/add-winery/{id}' (id=${winery.getId()})}"
          th:method="POST">
        <button type="submit" class="btn btn-sm btn-success">Додади во листа на желби</button>
    </form>
</div>
