<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f8f8f8;
            color: #333;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }

        #searchForm {
            max-width: 400px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            padding: 10px;
            margin-bottom: 16px;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            padding: 12px;
            background-color: #8B0000;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            display: inline-block;
        }

        button:hover {
            background-color: #660000;
        }

        .search-results {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<section style="min-height: 50rem;">
    <h1>Пребарај Винарии</h1>

    <form id="searchForm" action="/search" method="get" class="mb-3">
        <label for="searchText" class="form-label">Пребарувај по:</label>
        <input th:value="${searchText == null} ? ${searchText} : ''" type="text" id="searchText" name="searchText" placeholder="Внеси податоци" required class="form-control">

        <label class="form-label">Избери критериум:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="searchCriteria" id="name" value="name">
            <label class="form-check-label" for="name">Име</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="searchCriteria" id="location" value="location">
            <label class="form-check-label" for="location">Населено место</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="searchCriteria" id="address" value="address">
            <label class="form-check-label" for="address">Адреса</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="searchCriteria" id="occupation" value="occupation" >
            <label class="form-check-label" for="occupation">Занимање</label>
        </div>

        <button type="submit" class="custom-btn">Пребарај</button>
    </form>

    <div th:if="${wineries != null && wineries.size() > 0}" class="search-results">
        <th:block th:each="i : ${#numbers.sequence( 0, wineries.size()-1)}">
            <div class="row custom-block custom-block-bg" style="margin-top: 3rem;" th:if="${i % 2 ==0}">
                <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                    <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                        <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0" th:text="${i+1}" style="color: white;"></h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                    <div class="custom-block-image-wrap">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}">
                            <img th:src="'/images/wineries/winery'+${(i % 5)+1}+'.jpg'" class="custom-block-image img-fluid" alt="">

                            <i class="custom-block-icon bi-link"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-3 order-lg-0">
                    <div class="custom-block-info mt-2 mt-lg-0">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}" class="events-title mb-3" th:text="${wineries.get(i).getName()}" style="color: #56070c;"></a>
                        <p class="mb-0" th:text="${wineries.get(i).getOccupations()}"></p>
                        <div class="d-flex flex-wrap border-top mt-4 pt-3">

                            <div class="mb-4 mb-lg-0">
                                <div class="d-flex flex-wrap align-items-center mb-1">
                                    <span class="custom-block-span">Град:</span>

                                    <p class="mb-0" th:text="${wineries.get(i).getLocation()}"></p>
                                </div>

                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="custom-block-span">Контакт телефон:</span>

                                    <p class="mb-0" th:text="'+'+${wineries.get(i).getMobNumber()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-block mb-3" style="margin-top: 3rem;" th:if="${i % 2 ==1}">
                <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                    <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                        <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0" th:text="${i+1}" style="color: #F4F1DE;"></h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                    <div class="custom-block-image-wrap">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}">
                            <img th:src="'/images/wineries/winery'+${(i % 5)+1}+'.jpg'" class="custom-block-image img-fluid" alt="">

                            <i class="custom-block-icon bi-link"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-3 order-lg-0">
                    <div class="custom-block-info mt-2 mt-lg-0">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}" class="events-title mb-3" th:text="${wineries.get(i).getName()}" style="color: #56070c;"></a>
                        <p class="mb-0" th:text="${wineries.get(i).getOccupations()}"></p>
                        <div class="d-flex flex-wrap border-top mt-4 pt-3">

                            <div class="mb-4 mb-lg-0">
                                <div class="d-flex flex-wrap align-items-center mb-1">
                                    <span class="custom-block-span">Град:</span>

                                    <p class="mb-0" th:text="${wineries.get(i).getLocation()}"></p>
                                </div>

                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="custom-block-span">Контакт телефон:</span>

                                    <p class="mb-0" th:text="'+'+${wineries.get(i).getMobNumber()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div th:if="${wineries != null && wineries.size()==0}">
        <h2>Не се пронајдени резултати од пребарувањето</h2>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function addClassById(elementId, className) {
        var element = document.getElementById(elementId);

        if (element) {
            element.classList.add(className);
        } else {
            console.error("Element with ID '" + elementId + "' not found.");
        }
    }
    var anchorTags = document.getElementsByTagName('a');
    for (var i = 0; i < anchorTags.length; i++) {
        anchorTags[i].classList.remove('active');
    }
    addClassById("search", "active");
</script>

</body>
</html>
