<style>
    button:hover {
        background-color: #660000;
    }
</style>

<section class="events-section events-listing-section section-bg section-padding" style="padding-top: 75px !important; ">
    <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#56070c" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#56070c" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#56070c" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#56070c" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#56070c" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#56070c" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#56070c" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <div class="section-bg-image-block">
                        <h2 class="mb-lg-3">Search Wineries</h2>

                        <form id="searchForm" action="/search" method="get" class="mb-3">
                            <label for="searchText" class="form-label">Search Filter:</label>
                            <input th:value="${searchText == null} ? ${searchText} : ''" type="text" id="searchText" name="searchText" placeholder="Внеси податоци" required class="form-control">

                            <label class="form-label">Select a filter:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="searchCriteria" id="name" value="name">
                                <label class="form-check-label" for="name">Name</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="searchCriteria" id="location" value="location">
                                <label class="form-check-label" for="location">Location</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="searchCriteria" id="address" value="address">
                                <label class="form-check-label" for="address">Address</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="searchCriteria" id="occupation" value="occupation" >
                                <label class="form-check-label" for="occupation">Occupation</label>
                            </div>

                            <button type="submit" class="custom-btn">Search</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    <div th:if="${wineries != null && wineries.size() > 0}" class="search-results" style="display: flex;justify-content: space-around; flex-direction: column;
    align-items: center;">
        <th:block th:each="i : ${#numbers.sequence( 0, wineries.size()-1)}">
            <div class="row custom-block custom-block-bg" style="margin-top: 3rem;width: 75%;" th:if="${i % 2 ==0}" >
                <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                    <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                        <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0" th:text="${i+1}" style="color: white;"></h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                    <div class="custom-block-image-wrap">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}">
                            <img th:src="'/images/wineries/winery'+${(i % 5)+1}+'.jpg'" class="custom-block-image img-fluid" alt="">

                            <i class="custom-block-icon bi-link"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-3 order-lg-0">
                    <div class="custom-block-info mt-2 mt-lg-0">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}" class="events-title mb-3" th:text="${wineries.get(i).getName()}" style="color: #56070c;"></a>
                        <p class="mb-0" th:text="${wineries.get(i).getOccupations()}"></p>
                        <div class="d-flex flex-wrap border-top mt-4 pt-3">

                            <div class="mb-4 mb-lg-0">
                                <div class="d-flex flex-wrap align-items-center mb-1">
                                    <span class="custom-block-span">Location:</span>

                                    <p class="mb-0" th:text="${wineries.get(i).getLocation()}"></p>
                                </div>

                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="custom-block-span">Contact Number:</span>

                                    <p class="mb-0" th:text="'+'+${wineries.get(i).getMobNumber()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-block mb-3" style="margin-top: 3rem; width: 75%;" th:if="${i % 2 ==1}">
                <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                    <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                        <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0" th:text="${i+1}" style="color: #F4F1DE;"></h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                    <div class="custom-block-image-wrap">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}">
                            <img th:src="'/images/wineries/winery'+${(i % 5)+1}+'.jpg'" class="custom-block-image img-fluid" alt="">

                            <i class="custom-block-icon bi-link"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-3 order-lg-0">
                    <div class="custom-block-info mt-2 mt-lg-0">
                        <a th:href="@{'/winery/details/' + ${wineries.get(i).getId()}}" class="events-title mb-3" th:text="${wineries.get(i).getName()}" style="color: #56070c;"></a>
                        <p class="mb-0" th:text="${wineries.get(i).getOccupations()}"></p>
                        <div class="d-flex flex-wrap border-top mt-4 pt-3">

                            <div class="mb-4 mb-lg-0">
                                <div class="d-flex flex-wrap align-items-center mb-1">
                                    <span class="custom-block-span">Location:</span>

                                    <p class="mb-0" th:text="${wineries.get(i).getLocation()}"></p>
                                </div>

                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="custom-block-span">Contact Number:</span>

                                    <p class="mb-0" th:text="'+'+${wineries.get(i).getMobNumber()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div th:if="${wineries != null && wineries.size()==0}">
        <h2>No wineries have been found.</h2>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function addClassById(elementId, className) {
        var element = document.getElementById(elementId);

        if (element) {
            element.classList.add(className);
        } else {
            console.error("Element with ID '" + elementId + "' not found.");
        }
    }
    var anchorTags = document.getElementsByTagName('a');
    for (var i = 0; i < anchorTags.length; i++) {
        anchorTags[i].classList.remove('active');
    }
    addClassById("search", "active");
</script>
