<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Винодвентура</title>-->
<!--    <style>-->
<!--        .content-wrapper {-->
<!--            display: flex;-->
<!--        }-->

<!--        .winery-card {-->
<!--            background-color: #fff;-->
<!--            border: 1px solid #ddd;-->
<!--            border-radius: 8px;-->
<!--            margin: 20px;-->
<!--            padding: 20px;-->
<!--            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);-->
<!--            transition: transform 0.3s ease-in-out;-->
<!--            flex: 1;-->
<!--        }-->

<!--        .winery-card:hover {-->
<!--            transform: scale(1.05);-->
<!--        }-->

<!--        h2 {-->
<!--            color: #8B0000;-->
<!--            margin-bottom: 10px;-->
<!--        }-->

<!--        p {-->
<!--            margin: 0;-->
<!--            margin-bottom: 8px;-->
<!--        }-->

<!--        a {-->
<!--            color: #0066cc;-->
<!--            text-decoration: none;-->
<!--        }-->

<!--        a:hover {-->
<!--            text-decoration: underline;-->
<!--        }-->

<!--        .map-container, .comment {-->
<!--            background-color: lightgray;-->
<!--            flex: 1;-->
<!--        }-->

<!--        .comment-form-container {-->
<!--            max-width: 600px;-->
<!--            margin: 20px auto;-->
<!--            background-color: #fff;-->
<!--            padding: 20px;-->
<!--            border-radius: 8px;-->
<!--            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);-->

<!--        }-->
<!--        .comment-form h3-->
<!--        {-->
<!--          text-align: center;-->
<!--        }-->

<!--        .comment-form {-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--        }-->

<!--        .form-group {-->
<!--            margin-bottom: 15px;-->
<!--        }-->

<!--        label {-->
<!--            font-weight: bold;-->
<!--            margin-bottom: 8px;-->
<!--        }-->

<!--        input, textarea {-->
<!--            width: 100%;-->
<!--            padding: 10px;-->
<!--            box-sizing: border-box;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 4px;-->
<!--        }-->

<!--        textarea {-->
<!--            resize: vertical;-->
<!--        }-->

<!--        .submit-button {-->
<!--            background-color: #4caf50;-->
<!--            color: #fff;-->
<!--            padding: 10px;-->
<!--            border: none;-->
<!--            border-radius: 4px;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        .submit-button:hover {-->
<!--            background-color: #45a049;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<body>-->
<div class="content-wrapper">
    <div th:if="${winery}" class="winery-card">
        <h2 th:text="${winery.getName()}"></h2>
        <p th:text="'Address: ' + ${winery.getAddress()}"></p>
        <p th:text="'City: ' + ${winery.getLocation()}"></p>
        <p th:text="'Phone: ' + ${winery.getMobNumber()}"></p>
        <p>
            Website: <a th:href="${winery.getWebsite()}" target="_blank" th:text="${winery.getWebsite()}"></a>
        </p>
        <p th:text="'Working Hours: ' + ${winery.getWorkingHours()}"></p>
        <div class="comments" th:if="${winery.getReviews().size()>0}">
            <h3>Коментари:</h3>
            <div class="comment" th:each="review:${winery.getReviews()}">
                <p th:text="'Рејтинг: '+ ${review.getScore()}"></p>
                <p th:text="'Опис: ' + ${review.getDescription()}"></p>
            </div>

        </div>
        <div class="map-container">

        </div>
        <div class="comment-form-container">
            <div class="comment-form">
                <form th:action="@{'/reviews/add/winery/{id}' (id=${winery.getId()})}" th:method="POST">
                  <h3>Додај коментар</h3>
                    <div class="form-group">
                        <label for="score">Рејтинг:</label>
                        <input type="text" class="form-control" id="score" name="score" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Опис:</label>
                        <textarea class="form-control" rows="4" id="description" name="description" required></textarea>
                    </div>
                    <button type="submit" class="submit-button">Коментирај</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--</body>-->
<!--</html>-->
