<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>About</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p class="mb-0">
          Винодвентура претставува интерактивна апликација за прикажување и пребарување
          на винарии во Македонија.
          &copy; 2023 Винодвентура. Сите права се задржани
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i> Винодвентура</li>
          <li><i class="fa fa-envelope mr-2"></i> email@vinodventura.mk</li>
          <li><i class="fa fa-phone mr-2"></i> +389 75 500 000</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
